{% extends "layout.html.twig" %}
{% block head %}
    {% include 'misc/datatable.html.twig' %}
{% endblock %}
{% block content %}
    <div class="pull-right">
        <a href="{{ url('player/new')}}" class="btn btn-primary">Add new Player</a>
    </div>
    <table class="table data-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if data.players|length > 0 %}
                {% for player in data.players %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.name }}</td>
                    <td><a href="{{ url('player/edit', {'id': player.id})}}">Edit</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td align="center" colspan="3">No Players so far.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
