<div class="form-group">
    <div class="row">
        <div class="col-lg-4">
            <label for="search-date-start">Game date from</label>
            <input class="form-control" id="search-date-start" type="text" name="search[date][start]" value="{{ search.values.date.start }}">
        </div>
        <div class="col-lg-4">
            <label for="search-date-end">Game date to</label>
            <input class="form-control" id="search-date-end" type="text" name="search[date][end]" value="{{ search.values.date.end }}">
        </div>
        <div class="col-lg-4">
            <label for="search-date-presets">Presets</label>
            <select class="form-control" id="search-date-presets">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>
