{% extends "layout.html.twig" %}

{% block content %}
    <div>
        <a href="{{ url('wonder/list')}}" class="btn btn-primary">Wonder List</a>
    </div>
    <form id="wonder-form" action="{{ url('wonder/save') }}" method="post">
        <input type="hidden" name="id" value="{{ wonder.getId() }}" />
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Wonder</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ wonder.getName() }}" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
