.yellow {
    color: yellow;
    opacity: 0.5;
}
.purple {
    color: purple;
    opacity: 0.5;
}
.blue {
    color: blue;
    opacity: 0.5;
}
.black {
    color: black;
    opacity: 0.5;
}
.red {
    color: red;
    opacity: 0.5;
}
.green {
    color:green;
    opacity: 0.5;
}
