{% extends "layout.html.twig" %}
{% block content %}
    <section class="content-header">
        <h1>Dashboard</h1>
    </section>
    <section class="content">
        {% if widgetGroups|length >0 %}
            {% for widgetGroup in widgetGroups %}
                {{ widgetGroup.render()|raw }}
            {% endfor %}
        {% else %}
            Nothing to display so far.
        {%  endif %}
    </section>
{% endblock %}
