{% if widgets|length > 0 %}
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{{ label }}</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        {% for widget in widgets %}
            {{ widget.render()|raw }}
        {% endfor %}
    </div>
    <!-- /.box-body -->
    <div class="box-footer"></div>
</div>
{% endif %}
